.container {
  background-color: rgb(254, 138, 56);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.box {
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.box table {
  font-size: 20px;
}

.box table tr td, .box table tr th {
  padding: 7px 10px;
}

.copyright {
  margin-top: 10px;
}

.box p {
  padding: 0;
  margin: 5px 0 10px;
}